{{ attach_library('sdc_styleguide/explorer') }}
<div class="sdc-styleguide-page">
  <div class="sdc-styleguide-page__sidebar">
    {{ page.sidebar }}
  </div>
  <div class="sdc-styleguide-page__content">
    <div class="sdc-styleguide-page__viewer-wrapper">
      {{ page.content }}
    </div>
  </div>
</div>
