{%
  set classes = [
  'luna',
  'luna--color-' ~ color|clean_class,
  dismissable ? 'luna--dismissable',
]
%}
<div class="{{ classes|join(" ") }}">
  {% block luna_content %}
  {% endblock %}
</div>
